 *{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}
.text-primary {
    color: #FD6E0A;
}
.btn-primary{
    height: 64px;
    padding: 0 35px 0 35px;
    border-radius: 5px;
    background-color: #FD6E0A;
    border: none;
    font-size: 700;
    color: white;
    font-size: 20px;
    
}
.btn-secondary{
    height: 64px;
    color: #FD6E0A;
    border-color: #FD6E0A;
    font-size: 18px;
    font-weight: 700;
    padding: 20px 24px;
    background: transparent;
}
.header{
    background-color: #FFF8F3;
    background-image: url(../images/header_bg.png),url(../images/developer.png); 
    background-repeat: no-repeat;
    background-position:right bottom, left bottom ;
}
.header-nav{
    font-size: 45px;
    font-weight: 800
}
nav {
    display: flex;
    justify-content: space-between;
    margin: 0 200px 0 200px;
}
nav ul {
    display: flex;
    align-items: center;
}
nav li {
    margin: 10px;
    list-style: none;
    
}
nav ul li {
    margin-left: 20px;
}
/*banner section*/
.banner-section{
    display: flex;
    align-items: center;
    margin: 0 50px 0 200px;
}

.title-intro
{
    font-size: 45px;
    font-weight: 600;
    margin-bottom: 5px;


}
.title-name{
    font-size: 85px;
    font-weight: 700;

}
.banner-para{
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    color: #757575;
    margin-bottom: 10px;

}
/*about me section*/
.about-me{
    margin: 130px 230px;
    background-color: #FFF8F3;
    justify-content: space-between;
}
.common-heading{
    font-size: 35px;
    font-weight: 700;
    text-align: center;
    padding-top: 100px;
}
.about-pera{
    color: #757575;
    padding:30px 100px 30px 100px   ;
}
.about-info{
    display: flex;
    gap: 20px;
    padding: 0 100px 0px 100px;
    text-align: center;
    padding-bottom: 10px;
}
.child{
    padding-bottom: 100px;
}


/* what i do section starts here*/
.what-i-do-section{}
.what-i-description{

}
.what-i-description h1 {
    font-size: 35px;
    font-weight: 700;
    text-align: center;
}
.what-i-description p {
    color: #757575;
    font-size: 18px;
    margin: 30px 345px 30px 345px;
    

}
    
.what-i-do-card{
    display: flex;
    margin: 50px 230px 130px 230px;
    margin-top: 50px;
    gap: 24px;
}
.card{
    box-shadow: 0px 6px 50px 0px rgb(0, 0, 0, 0.06);
    padding: 10px;
    
}
.card-h2{
    font-size: 20px;
    font-weight: 700;
    margin-top: 30px;
}
.card p{
    color: #757575;
    font-size: 18px;
    margin-top: 20px;
    
}


.summary{
    display: flex;
    margin:0 230px 0 230px
}
.summary-h3{
    font-weight: 700;
    font-size: 25px;
    margin-bottom: 30px;
}
.summary-h4{
    font-size: 25px;
}
.summary-p{
    font-size: 20px;
    font-weight: 600;
    color: #757575;
    margin-top: 10px;
    margin-bottom: 20px;
    width: 550px;
    margin-right: 50px;

}
.horizontail{
    color :#d1d1d1;
    margin-right: 50px;
}

.download-cv{
    margin-top: 50px;
    display: flex;
    justify-content: center;

}
.footer-section{
    background-color: #FFF8F3;
    padding: 130px 230px 130px 230px;
    display: flex;
}

.footer-h2{
    margin-bottom: 20px;
    font-weight: 700;
}
.footer-p{
    margin-bottom: 30px;
}
.icon img{
    
    gap: 24px;
}



